* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.85);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

.navbar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* HOME */
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.name-big {
    font-size: 80px;
    line-height: 75px;
    font-weight: bold;
}

.lastname {
    color: red;
}

.typing {
    font-size: 28px;
    margin-top: 20px;
    height: 35px;
    letter-spacing: 1px;
}

.role {
    margin-top: 20px;
    font-size: 28px;
    color: red;
}

/* ABOUT */
.about-section {
    padding: 120px 20px;
    display: flex;
    justify-content: center;
}

.about-card {
    width: 40%;
    padding: 60px 40px;
    background: #111;
    border-radius: 15px;
    border: 2px solid red;
    text-align: center;
}

.cv-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.cv-btn:hover {
    transform: scale(1.05);
}

/* TECH STACK */
.tech-section {
    padding: 100px 40px;
    text-align: center;
}

.tech-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.tech-card {
    width: 300px;
    background: #111;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid red;
}

.tech-card ul {
    list-style: none;
    margin-top: 15px;
}

.tech-card li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.tech-card img {
    width: 24px;
    height: 24px;
}

/* PROJECTS */
.projects-section {
    padding: 100px 40px;
    text-align: center;
}

.projects-grid {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.project-card {
    width: 300px;
    background: black;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid red;
}

.project-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}


/* CONTACT */
.contact-section {
    display: flex;
    padding: 100px 40px;
    justify-content: center;
    gap: 80px;
}

.contact-card {
    width: 350px;
    padding: 30px;
    background: #111;
    border-radius: 15px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-card input,
.contact-card textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.contact-card button {
    padding: 12px;
    background: red;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
